# Dependency directories
node_modules/
jspm_packages/
web_modules/

# TypeScript build output
build/
dist/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local state file
lasal-state.json
